header,h1{
    font-style: oblique ;
    text-align: center;
    height: 100px;
    padding-top: 10px;
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}
*{
    /* background-color: aliceblue; */
    margin: 0px;
}
input[type=text],select,input[type=number],input[type=date],input[type=email],input[type=password],textarea{
    background-color: white;
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
body{
    background-color: aliceblue;
}
.pay
{
    text-align: center;
}
.mg{
    margin-bottom: 5px;
    margin: 30px;

}
.stp
{
    margin-top: 30px;
}
.footer
{
    color: black;
    width: fit-content;
    font-style: italic;
    
}
p,fieldset{
    margin: 20px 20px;
    
}
fieldset,legend,input[type=radio]{
    background-color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p{
    padding: 5px;
}
.gender
{
    background-color: aliceblue;
    width: fit-content;
}
input[type=submit]{
    padding: 13px;
    width: 100px;
    background: rgb(66, 204, 32);
    color: white;
    border-radius: 4px;
    border: none;
    border: 1px solid green;
    font-size: 15px;
}
input[type=submit]:hover{
    background-color: rgb(40, 156, 40);
    cursor: pointer;
}